
mat-grid-tile {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
div {
  width: 100%;
  height: 100%;
}

.example-margin {
  margin: 0 10px;
}

app-game {
  width: 100%;
  height: 100%;
}

app-game-canvas {
  width: 100%;
  height: 100%;
}

app-game-user-left {
  width: 100%;
  height: 100%;
}

app-game-user-right {
  width: 100%;
  height: 100%;
}

common-chat {
  width: 100%;
  height: inherit;
}
