<mat-grid-list cols="3" rowHeight="50px">
  <mat-grid-tile [rowspan]="1" [colspan]="1" [style.background] = "'lightblue'">
    <div>
      <button mat-button color = "primary" width = "100%" height = "100%" (click)="ready()">Ready</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1" [style.background]="'lightgreen'">
    digital time
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1" [style.background]="'lightpink'">
    room configuration changed
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="3" [style.background]="'grey'">
    <mat-progress-bar
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="progress_value"
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="3" [style.background]="'#DDBDF1'">
    <mat-card>
    {{problem_word}}
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
