mat-grid-tile {
    background: azure;
    border: double;
    border-color: beige;
}

button[mat-raised-button] {
    border-radius: 10px;
    margin: 15px
}

app-wait-room-list,
app-wait-user-list,
app-wait-user-info {
    overflow: scroll;
    width: 100%;
    height: inherit;
}

common-chat {
    width: 100%;
    height: inherit;
}
