#cv {
  border: 0 solid black;
  background-color: white;
}

#colorlist {
  height: 14.5%;
  width: 100%;
}

#canvas_div {
  width: 100%;
  height: 85%;
}

app-colors {
  width: 100%;
  height: 100%;
   /*app-color가 가장 오른쪽 한자리를 먹고 자리를 안내준다. 이를 해결할 방법을 찾아라!!!*/
}
